$primary-color: #3d00b7;
$primary-color-dark: #2a0091;
$light-bg: #fff;
$text-color: #000;
$font-main: 'Poppins', sans-serif;
$gray-border: #ccc;
$hover-bg: #f5f2ff;
$btn-radius: 60px;
$input-radius: 60px;